## Que 1

In [7]:
from scipy import stats
import pandas as pd

In [12]:
cutlet = pd.read_csv('Cutlets.csv')
cutlet.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [14]:
a = cutlet['Unit A']
b = cutlet['Unit B']

### Independent t-test
Ho: There is no significant difference in the diameter of the cutlet from two units

H1: There is a significant difference in the diameter of the cutlet from two units

In [16]:
stats.ttest_ind(a,b,alternative = 'two-sided')

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

We fail to reject the null hypothesis since p-value is greater than significance level (α = 0.05).

Then it is clear that there is no significant difference in the diameter of the cutlet from two units A and B

## Que 2

In [18]:
lab = pd.read_csv('labTAT.csv')
lab

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [24]:
lab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [25]:
lab_1 = lab['Laboratory 1']
lab_2 = lab['Laboratory 2']
lab_3 = lab['Laboratory 3']
lab_4 = lab['Laboratory 4']

### One-way ANOVA
H0: There is no significant difference in mean Turn Around Time (TAT) of reports of the laboratories

H1: Atleast one mean TAT of report of the laboratories is different from others

In [26]:
stats.f_oneway(lab_1,lab_2,lab_3,lab_4)

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

p-value is less than 0.05

There we reject H0

That is, atleast one mean TAT of report of the laboratories is different from others

## Que 3

In [42]:
buyer = pd.read_csv("BuyerRatio.csv")
buyer

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [44]:
buyer_new = buyer.iloc[:,1:6]
buyer_new

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

### Chi-Square test for independence
H0: All proportions are equal

H1: Not all proportions are equal

In [48]:
expected = stats.chi2_contingency(buyer_new)
expected

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [59]:
p_val = expected[1]
p_val

0.6603094907091882

In [62]:
alpha = 0.05

In [63]:
if p_val <= alpha:
    print('Not all proportions are equal')
else:
    print('All proportions are equal')

All proportions are equal

## Que 4

In [29]:
cust = pd.read_csv('Costomer+OrderForm.csv')
cust

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [30]:
cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

### Chi-Square test for Independence

Ho: The error in customer order form and centers are independent of each other.

H1: There is dependency between error in customer order form and centers.

In [65]:
print(cust['Phillippines'].value_counts(),
      cust['Indonesia'].value_counts(),
      cust['Malta'].value_counts(),
      cust['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [66]:
observed = [[271,267,269,280],[29,33,31,20]]

In [70]:
expected = stats.chi2_contingency(observed)
expected

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [74]:
p_val = expected[1]
p_val

0.2771020991233135

In [75]:
alpha = 0.05

In [78]:
if p_val<= alpha:
    print('Dependent(Reject Ho)')
else :
    print('Independent(Fail to reject Ho)')

Independent(Fail to reject Ho)