In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
# !pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.23.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (3.8.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\appdata\roaming\python\python312\site-packages (from matplotlib>=3.0.0->mlxtend) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\appdata\roaming\python\python312\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Downloading mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   - -------------------------------------- 0.1/1.4 MB 825.8 kB/s eta 0:00:02
   --- ------------------------------------ 0.1/1.4 MB 1.4 MB/s eta 0:00:01
   ------- -------------------------------- 0.3/1.4 MB 1.8 MB/s eta 0:00:01
   ----------- ---------------------------- 0.4/1.4 MB 2.1 MB/s eta 0:00:01
   ----------------- ---------------------- 0.6/1.4 MB 2.5 MB/s eta 0:00:01
   --------------------- ------------------ 0.8/1.4 MB 2.9 MB/s eta 0:00:01
   ------------------------ --------------- 0.9/1.4 MB 2.6 MB/s eta 0:00:01
   ------------------------------ --------- 1.1/1.4 MB 2.8 MB/s eta 0:00:01
   ----------------------------------- ---- 1.3/1.4 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  1.4/1.4 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 2.9 MB/s eta 0:00:00
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.1

In [2]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

In [3]:
items_list = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [4]:
te = TransactionEncoder()
te_ary = te.fit(items_list).transform(items_list)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [9]:
frequent_itemsets = apriori(df, min_support=0.3, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                                     itemsets  length
0       0.4                                       (Corn)       1
1       0.8                                       (Eggs)       1
2       1.0                               (Kidney Beans)       1
3       0.6                                       (Milk)       1
4       0.4                                     (Nutmeg)       1
5       0.6                                      (Onion)       1
6       0.6                                     (Yogurt)       1
7       0.4                         (Corn, Kidney Beans)       2
8       0.8                         (Kidney Beans, Eggs)       2
9       0.4                                 (Milk, Eggs)       2
10      0.4                               (Nutmeg, Eggs)       2
11      0.6                                (Onion, Eggs)       2
12      0.4                               (Yogurt, Eggs)       2
13      0.6                         (Milk, Kidney Beans)       2
14      0.4                       (Nutmeg, Kidney Beans)       2
15      0.6                        (Onion, Kidney Beans)       2
16      0.6                       (Yogurt, Kidney Beans)       2
17      0.4                               (Milk, Yogurt)       2
18      0.4                              (Onion, Nutmeg)       2
19      0.4                             (Nutmeg, Yogurt)       2
20      0.4                              (Onion, Yogurt)       2
21      0.4                   (Milk, Kidney Beans, Eggs)       3
22      0.4                 (Nutmeg, Kidney Beans, Eggs)       3
23      0.6                  (Onion, Kidney Beans, Eggs)       3
24      0.4                 (Kidney Beans, Yogurt, Eggs)       3
25      0.4                        (Onion, Nutmeg, Eggs)       3
26      0.4                       (Nutmeg, Yogurt, Eggs)       3
27      0.4                        (Onion, Yogurt, Eggs)       3
28      0.4                 (Milk, Yogurt, Kidney Beans)       3
29      0.4                (Onion, Nutmeg, Kidney Beans)       3
30      0.4               (Nutmeg, Yogurt, Kidney Beans)       3
31      0.4                (Onion, Yogurt, Kidney Beans)       3
32      0.4                      (Onion, Nutmeg, Yogurt)       3
33      0.4          (Onion, Nutmeg, Kidney Beans, Eggs)       4
34      0.4         (Nutmeg, Kidney Beans, Yogurt, Eggs)       4
35      0.4          (Onion, Kidney Beans, Yogurt, Eggs)       4
36      0.4                (Onion, Nutmeg, Yogurt, Eggs)       4
37      0.4        (Onion, Nutmeg, Yogurt, Kidney Beans)       4
38      0.4  (Onion, Eggs, Nutmeg, Yogurt, Kidney Beans)       5

In [10]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                  (frequent_itemsets['support'] >= 0.5) ]

    support                itemsets  length
8       0.8    (Kidney Beans, Eggs)       2
11      0.6           (Onion, Eggs)       2
13      0.6    (Milk, Kidney Beans)       2
15      0.6   (Onion, Kidney Beans)       2
16      0.6  (Yogurt, Kidney Beans)       2

In [7]:
rules = association_rules(frequent_itemsets,  min_threshold=1)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Corn),(Kidney Beans),0.4,1.0,0.4,1.0,1.00,0.00,inf,0.000000
1,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf,0.000000
2,(Nutmeg),(Eggs),0.4,0.8,0.4,1.0,1.25,0.08,inf,0.333333
3,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf,0.500000
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,0.000000